*{
  margin: 0;
  padding: 0;
}
.homepage{
  display: flex;
  background-color: rgb(29, 179, 179);
  flex-wrap: wrap;
  width: 100vw
  
}
.coindata{
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  border: 1px solid rgba(0, 255, 255, 0.3)  ;
  padding: 10px;
  min-width: 31vw;
  max-width: 50vw;
}
#loading{
  text-align: center;
}
#coinstats{
  display: flex;
  flex-direction: column;
}
a{
  width: fit-content;
}