*{
  margin: 0;
  padding: 0;
}
.homepage{
  display: flex;
  background-color: rgb(29, 179, 179);
  flex-wrap: wrap;
  width: 100vw
  
}
.coindata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loading{
  text-align: center;
}
#coinstats{
  display: flex;
  flex-direction: column;
}
a{
  width: fit-content;
}
.titlerow{
  display: flex;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    justify-content: center;
}
.centersearch{
  display: flex;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}
#searchresultlink:hover{
  cursor: pointer;
}
#searchresultlink{
  width: fit-content;
}
.basic-grid{
  display: grid;
  gap:10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}